
body {
    font-family:Helvetica, Arial, sans-serif;
    margin:0;
    padding:0;
}
.dark-container{
    background-color: #1f2937;
}
.header{
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:16px 48px;
    max-width:1000px;
    margin:0 auto;
}
.logo {
    font-size: 24px;
    color:#F9FAf8;
    font-weight:bold;
}

ul{
    padding:0;
    margin:0;
    display: flex;
    gap:24px;
}
li{
    list-style-type: none
    
}
a {
    text-decoration: none;
}

.hero {
    background-color: #1f2937;
    display:flex;
    align-items: center;
    justify-content:space-between;
    gap:40px;
    max-width:1000px;
    margin:0 auto;
    padding: 100px 48px;
}

.hero-left{
    flex:1;
}
h1{
    font-size: 48px;
    font-weight:800;
    color:#F9FAf8;
    margin-bottom:16px;
}

a,
p{
    font-size:18px;
    color:#E5E7EB;  
    margin-bottom:16px;
}

button{
    background-color:#3882F6;
    color:#F9FAf8;
    font-size:18px;
    font-weight:600;
    border:0;
    border-radius:10px ;
    padding:8px 32px;
}
.img-wrapper{
    flex:1
}
img {
    width:100%;
    border-radius: 16px;
    object-fit: cover;
}
.block{
    max-width:1000px; 
    margin:0 auto;
    padding: 100px 48px;
    text-align: center;
}
h2{
    font-size: 36px;
    font-weight:800;
    color:#1F2937;
    margin-bottom: 50px;
}
.row{
    display:flex;
    align-items: center;
    justify-content:space-between;
    gap:20px;
}
.card p{
    color:#7b8596;
}

.card{
    width: 160px;
    flex-shrink: 1; 
}
.image {
    height:140px;
    width:auto;
    border-radius: 0px;
    margin:0 auto;
}

.grey-container{
    background-color: #e5e7eb;
}

.quote-text{
    color:#1F2937;
    font-size: 32px;
    font-weight:200;
    font-style:italic;
    text-align: left;
}
.quote-author {
    color:#1F2937;
    font-size: 18px;
    font-weight:800;
    text-align: right;
}
